<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ngz642469m"></script>
    <script defer src="/javascripts/main.js"></script>
    <title>Corona Map</title>
  </head>
  <body>
    <div class="navBar">
      <a class="navMain" href="/">MAIN MAP</a>
      <a class="navUpload" href="upload">UPLOAD</a>
    </div>
    <div id="map"></div>
  </body>
</html>
