<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/upload.css" />
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a81417021808b8d9465f2d7b5c75225&libraries=services"></script>
    <script defer src="/javascripts/upload.js"></script>
    <title>Corona Map</title>
  </head>

  <body>
    <div class="navBar">
      <a class="navMain" href="/">MAIN MAP</a>
      <a class="navUpload" href="upload">UPLOAD</a>
    </div>
    <div id="map" style="width: 100%; height: 100vh"></div>
    <div id="menuWrap">
      <form id="searchForm">
        키워드 :
        <input
          type="text"
          id="keyword"
          name="keyword"
          size="15"
          placeholder="검색어를 입력해주세요"
        />
        <button type="submit">검색하기</button>
      </form>
      <hr />
      <div id="placesList"></div>
    </div>
  </body>
</html>
